.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.main-work{
  display: flex;
}

@media (max-width: 768px) {
  .main-work{
    flex-direction: column;
  }
}

.our-work{
  margin: auto;
}

.works{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.element-work {
  margin-right: 7px;
}

.languages{
  float: right;
}

@media (min-width: 768px){
  .container {
    flex-wrap: nowrap !important;
    flex-direction: row !important;
    max-width: 100%; 
  }
}

@media (max-width: 768px){
  .container {
    flex-wrap: nowrap !important;
    flex-direction: row !important; 
    max-width: 100%;
  }
}